<div fxLayout="row" fxLayoutAlign="center" f>
    <div class="layout" fxLayout="column" fxFlex="80" fxFlex.lt-sm="98" fxLayoutAlign="center" fxLayoutGap="45px">

        <div fxLayout="column" *ngIf="dataIsLoaded" fxLayoutAlign="space-around" fxLayoutGap="15px">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Description: {{election?.description}}
                    </mat-card-title>

                    <mat-card-subtitle>
                        School Year: {{election?.school_year.name}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="election-card-content">
                        <mat-tab-group dynamicHeight="true" stacked="true">
                            <mat-tab label="Candidates">

                                <div class="tab">
                                    <div class="candidate-card-wrapper" *ngFor="let position of positions; last as isLast ">
                                        <p>{{position.name}} </p>
                                        <div fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
                                            <mat-card class="candidate-card" *ngFor="let candidate of position.candidates.data" (click)="showCandidate(candidate)" fxFlex.gt-sm="30">
                                                <mat-card-header>
                                                    <img [src]="candidate.profile_image" mat-card-avatar alt="">
                                                    <mat-card-title>
                                                        {{ candidate.student_profile.first_name }} {{ candidate.student_profile.middle_name }} {{ candidate.student_profile.last_name
                                                        }}
                                                    </mat-card-title>
                                                    <mat-card-subtitle *ngIf="election.is_party_enabled">
                                                        {{candidate.partylist.name}}
                                                    </mat-card-subtitle>
                                                </mat-card-header>
                                            </mat-card>
                                        </div>
                                        <mat-divider *ngIf="!isLast"></mat-divider>
                                    </div>
                                </div>




                            </mat-tab>
                            <mat-tab label="Vote" *ngIf="election?.is_active && myVotedCandidatesMetadata?.amount == 0 ">
                                <div class="tab">
                                    <div class="show-loader-when-voting" *ngIf="isVoting" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                                        <mat-spinner diamater="55" strokeWidth="4"></mat-spinner>
                                        <span>Voting...</span>
                                    </div>

                                    <mat-horizontal-stepper *ngIf="!isVoting" linear="true">
                                        <mat-step label="Select Candidates" editable="true" [completed]="selectedCandidates.length != 0">
                                            <div class="selection-list">
                                                <mat-selection-list #candidates (selectionChange)="onSelectCandidate($event,position)" *ngFor="let position of positions; last as isLast ">
                                                    <p>{{position.name}} (Choose {{position.number_of_winners}}) </p>
                                                    <mat-list-option [value]="candidate" *ngFor="let candidate of position.candidates.data">
                                                        <span>
                                                            {{ candidate.student_profile.first_name }} {{ candidate.student_profile.middle_name }} {{ candidate.student_profile.last_name
                                                            }}
                                                        </span>
                                                        <span matLine>
                                                            {{candidate.partylist?.name}}
                                                        </span>


                                                    </mat-list-option>
                                                    <br>
                                                    <mat-divider *ngIf="!isLast"></mat-divider>
                                                </mat-selection-list>

                                            </div>


                                            <button mat-raised-button color="primary" matStepperNext>Checkout Votes</button>
                                        </mat-step>
                                        <mat-step label="Review Choices">
                                            <p>
                                                My Selected Candidates
                                            </p>



                                            <mat-list class="selection-list">
                                                <mat-list-item *ngFor="let candidate of selectedCandidates">
                                                    <span>

                                                        {{candidate.student_profile.first_name}} {{candidate.student_profile.middle_name}} {{candidate.student_profile.last_name}}
                                                        - {{candidate.position.name}}
                                                    </span>

                                                </mat-list-item>

                                            </mat-list>
                                            <button mat-button matStepperPrevious>Back</button>
                                            <button mat-raised-button (click)="confirmVote()" color="primary">Confirm Vote</button>
                                        </mat-step>
                                    </mat-horizontal-stepper>
                                </div>

                            </mat-tab>
                            <mat-tab label="Review My Votes">
                                <div class="tab">
                                    <p>
                                        Number of Candidates Voted: {{myVotedCandidatesMetadata?.amount}}
                                    </p>

                                    <mat-list class="selection-list">
                                        <mat-list-item *ngFor="let candidate of myVotedCandidates">
                                            <span>

                                                {{candidate.student_profile.first_name}} {{candidate.student_profile.middle_name}} {{candidate.student_profile.last_name}}
                                                - {{candidate.position.name}}
                                            </span>

                                        </mat-list-item>

                                    </mat-list>

                                </div>
                            </mat-tab>
                            <mat-tab label="Standing">
                                <div class="tab">
                                    <div class="candidate-card-wrapper" *ngFor="let position of candidateStanding">
                                        <p>{{position.name}} </p>
                                        <div fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
                                            <mat-card class="candidate-card" *ngFor="let candidate of position.candidates;index as i" fxFlex.gt-sm="30">
                                                <p *ngIf="election.is_active">
                                                    Candidate {{i+1}}
                                                </p>
                                                <p *ngIf="election.is_published">
                                                    {{candidate.full_name}}
                                                </p>
                                                <p>
                                                    {{candidate.votes}} Vote(s)
                                                </p>
                                            </mat-card>
                                        </div>
                                        <mat-divider *ngIf="!isLast"></mat-divider>
                                    </div>


                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                </mat-card-content>

            </mat-card>

        </div>
        <div fxLayout="column" *ngIf="!dataIsLoaded" fxLayoutAlign="center center" fxLayoutGap="15px">
            <mat-spinner diameter="55" strokeWidth="4">
            </mat-spinner>
            <span>
                Loading Data...
            </span>
        </div>

    </div>
</div>