.tab{
    padding:10px;
}
.election-card-content{
    margin-top: 25px !important ;
}

.candidate-card{
    margin-bottom:15px;
}

.selection-list{
    margin-bottom: 100px;
}

.candidate-card-wrapper{
    margin-bottom: 55px;
}