<mat-dialog-content>



  <img mat-card-image [src]="candidate.profile_image" alt="Candidate Photo">
  <p>
    Name : {{profile.last_name}}, {{profile.first_name}} {{profile.middle_name}}
  </p>
  <p>
    Position : {{candidate.position.name}}
  </p>
  <p *ngIf="election.is_party_enabled">
    Partylist: {{candidate.partylist?.name}}
  </p>
  <p>
    Department: {{profile.department.name}}
  </p>
  <p *ngIf="profile.college">
    College: {{profile.college.name}}
  </p>
  <p>
    Year Level: {{profile.year_level.name}}
  </p>
  <p>
    About Me : {{candidate.about_me}}
  </p>


</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
  <button mat-dialog-close mat-button>Close</button>
</mat-dialog-actions>